//=================================//
//=====Start Landi Version 1.0.0=====//
//=================================//

//Start Color Vars
$FontColor: #505f98;
$FontColorS: #37447e;
$BackgroundColor: #111b47;

//Start Sec3
.sec3 {
  min-height: 785px;
  background-color: #e7ecff;
  clip-path: polygon(
    100% 0,
    95% 4%,
    89% 8%,
    85% 11%,
    78% 15%,
    74% 17%,
    67% 19%,
    62% 20%,
    50% 21%,
    40% 20%,
    32% 18%,
    26% 16%,
    17% 12%,
    10% 8%,
    6% 5%,
    0 0,
    0 100%,
    100% 100%
  );
}
