//=================================//
//=====Start Landi Version 1.0.0=====//
//=================================//

//Start Color Vars
$FontColor: #505f98;
$FontColorS: #37447e;
$BackgroundColor: #111b47;

//Start Buttton
.buttonFill {
  overflow: hidden;
  button {
    background-color: $BackgroundColor;
    color: white;
    border: none;
    outline: none;
    padding: 12px 60px;
    cursor: pointer;
    float: right;
    text-transform: capitalize;
  }
}
